### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

- оценка 2 и ниже — низкий рейтинг;
- оценка 4 и ниже — средний рейтинг;
- оценка 4.5 и 5 — высокий рейтинг.
- 
Результат классификации запишите в столбец class.

In [18]:
import pandas as pd

In [19]:
%pwd

'C:\\Users\\ekaterina.loginova\\Desktop\\Аналитика данных'

In [12]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [14]:
movies_stats = pd.read_csv('movies_stats.csv')
movies_stats.tail()

,userId,movieId,rating,timestamp,title,genres
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama

In [15]:
movies_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
 4   title      100004 non-null  object
 5   genres     100004 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ MB

In [16]:
movies_stats['class'] = pd.cut(
    movies_stats['rating'], 
    bins=[0, 2, 4, 5], 
    labels=['низкий рейтинг', 'средний рейтинг', 'высокий рейтинг'],
    include_lowest=True
)
print(movies_stats[['rating', 'class']].head(10))

   rating            class
0     2.5  средний рейтинг
1     3.0  средний рейтинг
2     3.0  средний рейтинг
3     2.0   низкий рейтинг
4     4.0  средний рейтинг
5     2.0   низкий рейтинг
6     2.0   низкий рейтинг
7     2.0   низкий рейтинг
8     3.5  средний рейтинг
9     2.0   низкий рейтинг

In [17]:
movies_stats.head()

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,средний рейтинг

### Задание 2
гео-классификатор, который каждой строке сможет выставить географическую при надлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
‘Центр’: [‘москва’, ‘тула’, ‘ярославль’],
‘Северо-Запад’: [‘петербург’, ‘псков’, ‘мурманск’],
‘Дальний Восток’: [‘владивосток’, ‘сахалин’, ‘хабаровск’]
}

Результат классификации запишите в отдельный столбец region.

In [26]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [25]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   keyword  100000 non-null  object
 1   shows    100000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [27]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [28]:
d = {}

for region in geo_data:
    
    spisok_gorodov = geo_data[region]
    
    d.update({key:value for key,value in zip(spisok_gorodov,
                                [region for i in spisok_gorodov])})

In [29]:
keywords['region'] = keywords['keyword'].map(d)

In [30]:
keywords['region'] = keywords['region'].fillna('undefined')
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined