### Условия задачи
Проверка теории: **верно ли, что с ростом года выпуска фильма средний рейтинг становится ниже**.

В соответствии с алгоритмом:

1. В переменную years запишите список из всех годов с 1950-го по 2010-й. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска (год выпуска берём из столбца title).

Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
- для каждой строки пройдите по всем годам списка years;
- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;
- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.

4. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.
5. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

In [7]:
import pandas as pd

In [15]:
movies_stats = pd.read_csv('movies_stats.csv')
movies_stats.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [44]:
movies_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   userId           100004 non-null  int64
 1   movieId          100004 non-null  int64
 2   rating           100004 non-null  float64
 3   timestamp        100004 non-null  int64
 4   title            100004 non-null  object
 5   genres           100004 non-null  object
 6   production_year  100004 non-null  object
 7   year             99997 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.1+ MB

In [43]:
# достаём года из названий и записываем в новую колонку года
movies_stats['year'] = movies_stats['title'].str.extract(r'\((\d{4})\)')
movies_stats['year'] = pd.to_numeric(movies_stats['year'])

print(movies_stats[['title', 'year']].head())

                                            title    year
0                          Dangerous Minds (1995)  1995.0
1                                    Dumbo (1941)  1941.0
2                                 Sleepers (1996)  1996.0
3                     Escape from New York (1981)  1981.0
4  Cinema Paradiso (Nuovo cinema Paradiso) (1989)  1989.0

In [45]:
# проверяю, не выпали ли какие-то фильмы, где неочевидно указан год
movies_stats.info()
movies_stats['year'].describe()
# выпало 7 строк....

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   userId           100004 non-null  int64
 1   movieId          100004 non-null  int64
 2   rating           100004 non-null  float64
 3   timestamp        100004 non-null  int64
 4   title            100004 non-null  object
 5   genres           100004 non-null  object
 6   production_year  100004 non-null  object
 7   year             99997 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.1+ MB

count    99997.000000
mean      1991.827305
std         15.088703
min       1902.000000
25%       1987.000000
50%       1995.000000
75%       2001.000000
max       2016.000000
Name: year, dtype: float64

In [47]:
# ищем строки с нулл-значениями года
null_years = movies_stats[movies_stats['year'].isna()]
print(null_years[['title', 'year']])

                              title  year
11737     Fawlty Towers (1975-1979)   NaN
11823               Stranger Things   NaN
36618     Fawlty Towers (1975-1979)   NaN
37669  Big Bang Theory, The (2007-)   NaN
80816     The Lovers and the Despot   NaN
92909     Fawlty Towers (1975-1979)   NaN
95257                    Hyena Road   NaN

In [52]:
def production_year(title):
    '''
    Ищем год в названии в формате 19xx или 20xx
    
    '''
    for i in range(len(title) - 3):
        if (title[i:i+2] in ['19', '20'] and 
            title[i+2:i+4].isdigit()):
            return int(title[i:i+4])
    return 1900

# Применяем только к строкам с Нан
movies_stats.loc[movies_stats['year'].isna(), 'year'] = \
    movies_stats.loc[movies_stats['year'].isna(), 'title'].apply(production_year)

print(movies_stats['year'].isna().sum())
print(movies_stats[['title', 'year']].head())

0
                                            title    year
0                          Dangerous Minds (1995)  1995.0
1                                    Dumbo (1941)  1941.0
2                                 Sleepers (1996)  1996.0
3                     Escape from New York (1981)  1981.0
4  Cinema Paradiso (Nuovo cinema Paradiso) (1989)  1989.0

In [53]:
# теперь все строки в year не нулевые
movies_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   userId           100004 non-null  int64
 1   movieId          100004 non-null  int64
 2   rating           100004 non-null  float64
 3   timestamp        100004 non-null  int64
 4   title            100004 non-null  object
 5   genres           100004 non-null  object
 6   production_year  100004 non-null  object
 7   year             100004 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 6.1+ MB

In [55]:
# групируем года и сотрируем по убыванию
avg_rating_by_year = movies_stats.groupby('year')['rating'].mean().sort_values(ascending=False)
# print(avg_rating_by_year.head(10))

In [56]:
year_ratings = movies_stats.groupby('year')['rating'].mean().reset_index()
year_ratings.columns = ['year', 'avg_rating']
year_ratings = year_ratings.sort_values('avg_rating', ascending=False)
print(year_ratings.head(20))

# ну, кажется, выдвинутая теория в задании верна :) грустно!

      year  avg_rating
8   1921.0    4.416667
1   1902.0    4.333333
15  1928.0    4.261905
4   1917.0    4.250000
5   1918.0    4.250000
11  1924.0    4.250000
10  1923.0    4.166667
28  1941.0    4.074803
18  1931.0    4.040816
36  1949.0    4.035354
13  1926.0    4.025000
33  1946.0    4.023316
44  1957.0    4.014241
59  1972.0    4.011136
21  1934.0    4.006667
39  1952.0    4.000000
41  1954.0    3.994220
20  1933.0    3.993243
38  1951.0    3.983539
61  1974.0    3.978704