### Условия задачи
Проверка теории: **верно ли, что с ростом года выпуска фильма средний рейтинг становится ниже**.

В соответствии с алгоритмом:

1. В переменную years запишите список из всех годов с 1950-го по 2010-й. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска (год выпуска берём из столбца title).

Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
- для каждой строки пройдите по всем годам списка years;
- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;
- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.

4. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.
5. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

In [2]:
import pandas as pd

In [18]:
movies_stats = pd.read_csv('movies_stats.csv')
movies_stats.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [21]:
movies_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
 4   title      100004 non-null  object
 5   genres     100004 non-null  object
 6   year       100004 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 5.3+ MB

In [20]:
def production_year(title):
    years = range(1900, 2010)
    for year in years:
        if str(year) in title:
            return year
    return 1900

# Применить функцию к колонке title
movies_stats['year'] = movies_stats['title'].apply(production_year)
print(movies_stats[['title', 'year']].head(10))

                                            title  year
0                          Dangerous Minds (1995)  1995
1                                    Dumbo (1941)  1941
2                                 Sleepers (1996)  1996
3                     Escape from New York (1981)  1981
4  Cinema Paradiso (Nuovo cinema Paradiso) (1989)  1989
5                         Deer Hunter, The (1978)  1978
6                                  Ben-Hur (1959)  1959
7                                   Gandhi (1982)  1982
8          Dracula (Bram Stoker's Dracula) (1992)  1992
9                                Cape Fear (1991)  1991

In [16]:
# групируем года и сотрируем по убыванию
avg_rating_by_year = movies_stats.groupby('year')['rating'].mean().sort_values(ascending=False)
# print(avg_rating_by_year.head(10))

year
1921    4.416667
1902    4.333333
1928    4.261905
1924    4.250000
1918    4.250000
1917    4.250000
1923    4.166667
1941    4.052326
1931    4.040816
1949    4.035354
Name: rating, dtype: float64

In [17]:
year_ratings = movies_stats.groupby('year')['rating'].mean().reset_index()
year_ratings.columns = ['year', 'avg_rating']
year_ratings = year_ratings.sort_values('avg_rating', ascending=False)
print(year_ratings.head(20))

# ну, кажется, выдвинутая теория в задании верна :) грустно!

    year  avg_rating
8   1921    4.416667
1   1902    4.333333
15  1928    4.261905
11  1924    4.250000
5   1918    4.250000
4   1917    4.250000
10  1923    4.166667
28  1941    4.052326
18  1931    4.040816
36  1949    4.035354
13  1926    4.025000
33  1946    4.023316
44  1957    4.014241
59  1972    4.011136
21  1934    4.006667
39  1952    4.000000
41  1954    3.994220
20  1933    3.993243
38  1951    3.983539
61  1974    3.978704